@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); 

/* 초기설정 */
*{
    list-style: none;   
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    /* font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Noto Sans KR", sans-serif; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    /* font-family: 'Nanum Pen Script', 'cursive'; */

}
/* 폰트설정 알아보기 */
body{
    /* 해더 사이드바 메인 빼고 모든 영역 백그라운드 */

    background-color: #fffffA;
    
    
}

.container{
    width: 1280px;
    margin: auto;
    
}

/* header  */
.main-header {
    position:fixed;
    display: flex;
    width: 1280px;
    margin: auto;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;

}

.header_intrio{
    background-image: url(./MainLogo.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
   border: 1px solid #575756;
   /* border-radius: 15px; */
   border-top: none;
   border-left: none;
   border-right: none;
   /* 해더부분 백그라운드 컬러 */
    background-color: #fffffA;
    width: 100%;
    height: 150px;
  
}

h1{

    display: flex;
    width: 100%;
    /* height: 100px; */
    justify-content: center; 
    align-items: center; 
    background-color: transparent;
    color: blue;
    text-align: center;
    margin-top: 50px; 
    /* font-family: 'Spoqa Han Sans Neo', 'sans-serif'; */
    /* font-family: 'Nanum Pen Script', 'cursive'; */
    
    
}
.header-content{
    display: flex;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: transparent;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center;

}

.main-nav {
    display: flex; 
    justify-content: flex-start; /* 항목을 왼쪽에 정렬 */
    margin-left: 5px;

    
}
.main-nav ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 

}

.main-nav li {
    display: flex;
    margin-right: 20px; /* 항목 간 간격 설정 */
    font-weight: bold;
}

.main-nav a {
    font-size: 18px;
    color: #575756;
}


/* 검색 영역 설정 */
.search {
    /* display: flex;  */
    /* align-items: center;  */
    margin-left: auto; 
    margin-right: 100px;
}
/* .input-search {
    padding: 5px; 
}

.input-search-submit {
 
  background: linear-gradient(to right, #4CA1AF, #C44A4A);
  border-radius: 100px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

    cursor: pointer;
} */

/* search 양식 */
.search_input {
        font-family: 'Raleway', sans-serif;
        width: 100%;
        padding: 8px 20px;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 16px;
        line-height: 22px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search_input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search_input:hover,.search_input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }


.main-menu{   
        display: flex;
        width: 1280px;
        margin: auto;
        height: auto;
}

/* aside + section 하나의 div */
.aside_section{
    width: 1280px;
    height: auto;
    /* background-color: red; */
    margin-top: 150px;
    position: sticky;
    /* overflow: ; */
}
/* aside */

aside{
    /* position: fixed; */
    /* display: flex; */
    width: 200px;
    height: auto;  
    float: left;
    display: inline;
    background-color: #fff;
    overflow: hidden;

    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 151px;
   
}

/* asude  accordion 효과*/
.accordion{
    width: 200px;
    height: auto;
}
.accordion_bar{
    font-size: 15px;
}

input[id*="car_select"]{
    display: none;
    
}
input[id*="car_select"] + label {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    border-bottom: 0;
    color: #999999;
    font-weight: 900;
    background: #F5F5F5;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* border-radius: 7px; */
    
}

/* input[id*="car_select"] + label img{
    position: absolute;
    top: 63%;
    right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -15px;
    display: inline-block;
} */

 /* aside 화살표 방향설정  */
input[id*="car_select"] + label i {
    font-size: 0.9rem;
    float: right;
    transition: transform 0.5s ease-in-out;
}
/* 초기 상태: 0도 회전 */
input[id*="car_select"]:checked + label i {
    transform: rotate(180deg);
  }
  
  /* 클릭 시 180도 회전 */
  input[id*="car_select"]:not(:checked) + label i {
    transform: rotate(0deg);
  }

  
input[id*="car_select"] + label + div{
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #ebf8ff;
    

}
input[id*="car_select"] + label + div p {
    display: inline-block;
    padding: 20px;
    /* 나중에 지울 수 있음 구간 나누는데 쓰임 */
}
input[id*="car_select"]:checked + label + div {max-height: 300px;}
/* input[id*="car_select"]:checked + label em {background-position: 0 -30px;} */


/* 사이드바 세부내용 추후에 수정 */
.sidebar{
    display: block;
}

.brand, .carTypeld, .displacement, .color, .modelYear {
    width: 100%;

    font-size: 15px;
    padding: 10px;
    /* display: flex;
    justify-content: space-between;
    text-align: justify; */
    background-color: #fff;
}
.accordion_bar{
    color: #999999;
    font-size: 13px;
}
/* .accordion .sidebar ul li{
    position: relative;
} */
/* .accordion .sidebar ul li label {
    display: flex;
} */
.accordion .sidebar ul li label p{
    
    margin: 0;
    padding: 0px 0px 0px 0px;
    width: 180px;
    height: 17px;
    cursor: pointer;
} 
.accordion .sidebar ul li label p:hover{
    font-size: 18px;
    font-style: bold;
}
.accordion .sidebar ul li:hover {
    background-color: #B2C8F2;
    cursor: pointer;
}

/* section .car-icons::after{
    content: "";
    display: block;
    clear: both;
} */



/* section */
.main-section{
    width: 1280px;
    top: 150px;
    left: 200px;



}

section{
  
    display: flex;

    /* 메인 섹션 백그라운드 영역 조정  */

    /* background-color: #fff; */
    background-color: #FFFFFF;


    /* width: 1280px; */
    width: calc(1080px);

    height: auto;
    /* margin: 0 auto; */
    /* padding: 20px 32px 0px 32px ; */
    /* align-items: center; */

    /* margin-top: 150px; */
    margin-left: 200px;
    flex-wrap: wrap;
    flex-direction:row;    
    overflow: hidden;
   
}


.car-icons {
 /* 카드 간격 다시 조정 */
    width: 240px;
    height: auto;
    margin-top: 10px;
    padding: 0 10px 15px 0;
    font-size: 11px;
    border: none;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    /* margin-right: 16px; */
    margin-left: 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
    /*row로 간격을 맞춤 270px로 했더니 잘 맞으나 추후에 변동이 있을경우 여기 width 나 마진값을 바꿔야함*/
    overflow: hidden;

}
section .car-icons:nth-child(4n){
    margin-right: 0;
    
}

.car-icons:hover{
    height: auto;
    background-color: rgba(255, 255, 255, 0.411);

    box-shadow: 6px 6px 6px rgba(63, 115, 210, 0.6);
    transition: all .35s;
    top: -10px;
    left: -10px;

}

.car-holder{
    width: 100%;
    height: 200px;
    justify-content: space-between;
}

.car-holder img{
    
    /* display: flex; */
    height: 100%;
    width: 104%;
    /* margin: auto; */
    object-fit: cover;
    /* margin-left: 10px; */
    
}


.icon-footer{
    font-size: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-left: 10px;
    margin-top: 10px;
    
}
.text{
    
    padding-left: 10px;
}
.car1{
    font-size: 20px;
    font-style: bold;
    margin-top: 5px;
}
.car_table {

    font-size: 12px;
    margin: 2px 0 2px 5px;
    border-style: none;
    line-height: 1.5rem;
}

.footer{
    width: 100%;
    height: 50px;
    background: transparent;
}

/* .row {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: left;
} */

.like {
    color: red;
    font-size: 15px;
    /* border: none;
    background-color: transparent; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select : none;
}

.like:hover {
    color: blue;
    transform: scale(1.2);
  }

