/* #textForm{
    display: flex;
    flex-direction: column;
    width: 385px;
}


.form-header{
    text-align: center;
}

input{
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px;
    border-radius: 16px;
    background-color: rgba(256, 256, 256, 0.05);
    border: 1px solid white;
    color: white;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
input{
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px;
    border-radius: 16px;
    background-color: rgba(256, 256, 256, 0.05);
    border: 1px solid white;
    color: white;
} */