*{
 
    margin: 0px;
    padding: 0px;
    margin: 0 auto;   
    justify-content: center;
    align-items: center;
}
.membership{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    font-size: 30px;
}
.form_membership {
    width: 450px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* background-color: ; */
}
.mbs_id {
    width: 80%;
    font-size: 15px;
    /* background-color: orange; */
}
input{
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px;
    /* 박스 테두리 둥글게 */
    border-radius: 16px;
    background-color: orange(256, 256, 256, 0.05);
    border: 1px solid orange;
    color: black;
}
.form-group{
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid black;
}
input {

    height: 20px;
}
button{
   /* width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px;
   border-radius: 16px; */
   margin-top: 15px;
   margin-bottom: 15px;
   width: 100px;
    height: 30px;
    color: black;
    font-size: 1.5m;
    border: none;
    background-color: orange;
    cursor: pointer;
    border-radius: 15px;
   

   /* background-color: aqua; */
}
.err-msg{
    color:red;
    padding: 0 16px;
    font-size: 14px;
    display: none;
}


/* 
.button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    justify-content: center;
} */
