.wrapper{
    /* 화면이 늘고 줄때 내용물의 높이를 따라갈 수 있도록 */
    min-height: 100vh;
    /* 애초에 이미지에 그라데이션을 줄 수 있다 */
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form{
    display: flex;
    flex-direction: column;
    width: 385px;
}

.form-header{
    text-align: center;
}

.input-wrapper{
    /* 요소들 세로정렬 시키기 */
    display: flex;
    flex-direction: column;
}

input{
    height: 64px;
    box-sizing: border-box;
    padding: 20px 16px;
    /* 박스 테두리 둥글게 */
    border-radius: 16px;
    background-color: rgba(256, 256, 256, 0.05);
    border: 1px solid white;
    color: white;
}

.err-msg{
    color:pink;
    padding: 0 16px;
    font-size: 14px;
    display: none;
}

button{
    height: 64px;
    margin-top: 15px;
    border-radius: 16px;
    border: none;
    background-color: pink;
}
